<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Mail Envoyé</title>
</head>

Mail Envoyé
</br></br>
<form action="{{  path('siteadmin2_sendMail')}}" method="submit">

<input type="submit" value="Faite Entrée pour continuer">


</html>